[workspace]
resolver = "2"
members = [
    "midres-gen",
    "midres-common",
    "map-injector",
]

[profile.release]
opt-level = "z"
lto = true
codegen-units = 1
panic = "abort"
strip = true

[profile.dev]
opt-level = 0
debug = true
